In [2]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv('tweets2020Classified.csv')

In [4]:
df=df.dropna()

In [5]:
df=df.reset_index()

In [6]:
df

,index,Unnamed: 0,Unnamed: 0.1,id_str,text,created_at,polarity,user_location,clean_comment,stem_comment
0,0,0,0,1333670422106304512,RT @bioethicsdotcom: Absolutely Remarkable: No...,2020-12-01 07:13:01,1,"Madrid, Spain",bsolutely emarkable ne ho ot odernas accine ri...,bsolut emark ne ho ot oderna accin rial evelop...
1,1,1,1,1333670422135644162,RT @BTSFanQuiz: The fifth track of the BE albu...,2020-12-01 07:13:01,1,Albania,uiz fifth track album inspired situation lockd...,uiz fifth track album inspir situat lockdown s...
2,2,2,2,1333670422299152387,"RT @KailashChandOBE: Dear @RishiSunak ,\nCorre...",2020-12-01 07:13:01,1,"Ross-on-Wye, England",ailash hand ear ishi unak orrect wrong ou spen...,ailash hand ear ishi unak orrect wrong ou spen...
3,5,5,5,1333670422622199808,RT @ImranKhanPTI: Problem confronting us in Pa...,2020-12-01 07:13:01,0,Pakistan,mran han roblem confronting us ak 19 political...,mran han roblem confront us ak 19 polit leader...
4,6,6,6,1333670422798356480,RT @Catrambo: Just found out that Ben Bova has...,2020-12-01 07:13:01,1,Hudson Valley Region,atrambo ust found en ova died 19 related compl...,atrambo ust found en ova die 19 relat complic ...
...,...,...,...,...,...,...,...,...,...,...
12982,19357,19357,19357,1333906648180678656,"@realDonaldTrump WOW, you sure watch a lot of ...",2020-12-01 22:51:42,1,United States,onald rump sure watch lot r mean executive tim...,onald rump sure watch lot r mean execut time e...
12983,19358,19358,19358,1333906648411344897,RT @kheti_thegreat: Covid has taught me three ...,2020-12-01 22:51:42,1,On My Way...,thegreat ovid taught three things 1 ur economy...,thegreat ovid taught three thing 1 ur economi ...
12984,19359,19359,19359,1333906648541274113,RT @Milhouse_Van_Ho: Canada - The average age ...,2020-12-01 22:51:42,1,"Langley, BC, Canada",ilhouse anada average age death covid 19 highe...,ilhous anada averag age death covid 19 higher ...
12985,19361,19361,19361,1333906648801435651,RT @campbellclaret: A reminder that the people...,2020-12-01 22:51:42,0,Cheshire.UK,reminder people presided worst economic fallou...,remind peopl presid worst econom fallout ovid ...
12986,19362,19362,19362,1333906649099231232,RT @NBCPhiladelphia: CDC Panel Says Health Wor...,2020-12-01 22:51:42,1,randy.gyllenhaal@nbcuni.com,hiladelphia anel ays ealth orkers ursing omes ...,hiladelphia anel ay ealth orker urs ome ill et...

In [7]:
states= ["HI", "AK", "FL", "SC", "GA", "AL", "NC", "TN", "RI", "CT", "MA","ME", "NH", "VT", "NY", "NJ", "PA", "DE", "MD", "WV", "KY", "OH",  "MI", "WY", "MT", "ID", "WA", "DC", "TX", "CA", "AZ", "NV", "UT", "CO", "NM", "OR", "ND", "SD", "NE", "IA", "MS", "IN", "IL", "MN", "WI", "MO", "AR", "OK", "KS", "LS", "VA"]

In [19]:
df2=pd.DataFrame(columns=["id_str","text","created_at","polarity","user_location","senti"])

In [20]:
df2

Empty DataFrame
Columns: [id_str, text, created_at, polarity, user_location, senti]
Index: []

In [21]:
a1=[]
a2=[]
a3=[]
a4=[]
a5=[]
a6=[]
for i in range(12987):
    a= df["user_location"][i][len(df["user_location"][i])-2:]
    if a in states:
        a1.append(df["id_str"][i])
        a2.append(df["text"][i])
        a3.append(df["created_at"][i])
        a4.append(df["polarity"][i])
        a5.append(df["user_location"][i][len(df["user_location"][i])-2:])
        #a6.append(df["senti"][i])
        #print(df["user_location"][i])

In [22]:
df2["id_str"]=a1
df2["text"]=a2
df2["created_at"]=a3
df2["polarity"]=a4
df2["user_location"]=a5
#df2["senti"]=a6

In [23]:
df2

,id_str,text,created_at,polarity,user_location,senti
0,1333670424505327617,"RT @ConnieSchultz: A friends husband, quaranti...",2020-12-01 07:13:02,0,NC,NaN
1,1333670424337637376,RT @TheLeadCNN: CNN exclusive: Vast trove of l...,2020-12-01 07:13:02,1,MO,NaN
2,1333670425969131521,RT @CNN: These radio hosts have been debunking...,2020-12-01 07:13:02,1,CA,NaN
3,1333670431086186497,RT @amyklobuchar: The Senate is back. Were in ...,2020-12-01 07:13:03,1,WA,NaN
4,1333670436102615040,RT @StarSoul777: The COVID vaccine created by ...,2020-12-01 07:13:05,0,OK,NaN
...,...,...,...,...,...,...
3077,1333906639095783431,RT @CNBCnow: BREAKING: CDC panel says health w...,2020-12-01 22:51:40,0,NC,NaN
3078,1333906644418371586,Health care workers and long-term care residen...,2020-12-01 22:51:41,1,DC,NaN
3079,1333906645727014912,Spineless &amp; quiet Republicans are Trump en...,2020-12-01 22:51:41,0,TX,NaN
3080,1333906647312453632,RT @JessArnoldTV: #BREAKING: The Advisory Comm...,2020-12-01 22:51:42,1,CA,NaN
3081,1333906648105181185,RT @business: It turns out that Covid-19 was a...,2020-12-01 22:51:42,1,MN,NaN

In [24]:
df2
compression_opts = dict(method='zip',

                        archive_name='statess.csv')  

df2.to_csv('statess.zip', index=False,

          compression=compression_opts)